* {
    box-sizing: border-box;
    margin: 0;
    background-color: #f2f2f2;
    font-family: "Outfit" ;

}

.container {
    position: relative;
}

.qr-code {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 25%);
    max-width: 500px;
    width: 320px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: #dedede 2px 2px 15px 6px;
}

.img-qr {
    margin: 15px;
    background-color: #fff;
    border-radius: 20px;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.content {
    display: grid;
    grid-template-rows: 80px 100px;
    border-radius: 20px;
    background-color: #fff;
    padding: 0 25px;

}

.heading-content {
    text-align: center;
    background-color: #fff;
    font-size: 22px;
    color: navy;
}

p {
    font-size: 15px;
    text-align: center;
    background-color: #fff;
    color: gray;
}
